USE [master]
GO
/****** Object:  Database [BTA]    Script Date: 7/4/2019 3:04:49 PM ******/
CREATE DATABASE [BTA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BTA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BTA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTA]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/4/2019 3:04:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/4/2019 3:04:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/4/2019 3:04:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/4/2019 3:04:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [bigint] IDENTITY(100,10) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Module] [bigint] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityId] [bigint] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](20) NOT NULL,
	[Country] [nvarchar](20) NULL,
	[Lon] [float] NULL,
	[Lat] [float] NULL,
	[Population] [int] NULL,
	[ImgUrl] [nvarchar](2083) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NULL,
	[Traveler] [bigint] NULL,
	[Title] [nvarchar](50) NULL,
	[Date] [datetime] NOT NULL,
	[Text] [nvarchar](500) NULL,
	[Rating] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[TableName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LifeInCItyViewModels]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LifeInCItyViewModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_CategoryId] [bigint] NULL,
	[City_CityId] [bigint] NULL,
	[Line_LineId] [bigint] NULL,
	[POI_PoiId] [bigint] NULL,
 CONSTRAINT [PK_dbo.LifeInCItyViewModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Line]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Line](
	[LineId] [bigint] IDENTITY(1,1) NOT NULL,
	[PoiId] [bigint] NULL,
	[SourceCity] [bigint] NULL,
	[DestCity] [bigint] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Line] PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Module]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[ModuleId] [bigint] IDENTITY(10,10) NOT NULL,
	[ModuleName] [nvarchar](50) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POI]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POI](
	[PoiId] [bigint] IDENTITY(1,1) NOT NULL,
	[CityId] [bigint] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[Website] [nvarchar](2083) NULL,
	[PoiImg] [nvarchar](2083) NULL,
	[Rating] [float] NOT NULL,
	[Lon] [float] NULL,
	[Lat] [float] NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CategoryId] [bigint] NULL,
	[POIDescription] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Transport] [bit] NULL,
 CONSTRAINT [PK_POI] PRIMARY KEY CLUSTERED 
(
	[PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Traveler]    Script Date: 7/4/2019 3:04:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traveler](
	[UserId] [bigint] IDENTITY(1000,1) NOT NULL,
	[IdentityId] [nvarchar](128) NOT NULL,
	[Active] [bit] NOT NULL,
	[ImgUrl] [nvarchar](150) NULL,
	[FullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Traveler] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1216db12-5a87-4cf3-bd3d-9c97667516c8', N'admin@gmail.com', 0, N'AKs575BcyICW8cET4spBKh5PpyItPnoLmXSLSzHXTD5jzWerEDKbsmpWTaMnqn/lvA==', N'bed6dfb1-87a2-4cbd-9bae-390c73cb06dc', NULL, 0, 0, NULL, 1, 0, N'admin@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7350dbe4-ccbc-4a3f-b6fd-fadca29b6cd3', N'per.miti@gmail.com', 0, N'AN+g0aHnny7uQyqImoAMxgKKXJr1dwQ929O/GeUjpOZ96jfxg4N5+jbV6FSWx5m0NA==', N'8b606997-b3a0-42f5-ac2c-46563674455a', NULL, 0, 0, NULL, 1, 0, N'per_miti@gmail.com')
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Module], [Active]) VALUES (100, N'Local Transport', 10, 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Module], [Active]) VALUES (110, N'Food & Entertainment', 10, 1)
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [Module], [Active]) VALUES (120, N'Safety', 10, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([CityId], [CityName], [Country], [Lon], [Lat], [Population], [ImgUrl], [Active]) VALUES (5, N'Belgrade', N'Serbia', 20.4489216, 44.786568, 1115200, N'~/Assets/Images/Cities/Belgrade.jpg', 1)
INSERT [dbo].[City] ([CityId], [CityName], [Country], [Lon], [Lat], [Population], [ImgUrl], [Active]) VALUES (6, N'London', N'United Kingdom', -0.1277583, 51.5073509, 7421228, N'~/Assets/Images/Cities/London.jpg', 1)
INSERT [dbo].[City] ([CityId], [CityName], [Country], [Lon], [Lat], [Population], [ImgUrl], [Active]) VALUES (7, N'Paris', N'France', 2.3522219, 48.856614, 2110694, N'~/Assets/Images/Cities/Paris.jpg', 1)
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [ParentId], [Traveler], [Title], [Date], [Text], [Rating], [Active], [TableName]) VALUES (1, 0, 1003, N'brz wifi', CAST(N'2019-06-14T00:00:00.000' AS DateTime), N'super wifi po celom hotelu, cak i u sred bazena', 5, 1, N'POI')
INSERT [dbo].[Comment] ([CommentId], [ParentId], [Traveler], [Title], [Date], [Text], [Rating], [Active], [TableName]) VALUES (4, 0, 1003, N'brz wifi', CAST(N'2019-06-14T00:00:00.000' AS DateTime), N'wifi ne radi u bazenu', 4, 1, N'POI')
INSERT [dbo].[Comment] ([CommentId], [ParentId], [Traveler], [Title], [Date], [Text], [Rating], [Active], [TableName]) VALUES (5, 0, 1003, N'brz wifi', CAST(N'2019-06-14T00:00:00.000' AS DateTime), N'super wifi ali hladan bazen', 4, 1, N'POI')
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[Line] ON 

INSERT [dbo].[Line] ([LineId], [PoiId], [SourceCity], [DestCity], [Active]) VALUES (1, 24, 5, 6, 1)
INSERT [dbo].[Line] ([LineId], [PoiId], [SourceCity], [DestCity], [Active]) VALUES (2, 25, 6, 5, 1)
SET IDENTITY_INSERT [dbo].[Line] OFF
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([ModuleId], [ModuleName], [Active]) VALUES (10, N'City life', 1)
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [Active]) VALUES (20, N'Accomodation', 1)
INSERT [dbo].[Module] ([ModuleId], [ModuleName], [Active]) VALUES (30, N'Transport', 1)
SET IDENTITY_INSERT [dbo].[Module] OFF
SET IDENTITY_INSERT [dbo].[POI] ON 

SET IDENTITY_INSERT [dbo].[POI] OFF
SET IDENTITY_INSERT [dbo].[Traveler] ON 

INSERT [dbo].[Traveler] ([UserId], [IdentityId], [Active], [ImgUrl], [FullName]) VALUES (1001, N'b8db4be8-d13e-48b4-94d4-3c1c5edfbc38', 1, N'/Assets/Images/per_miti.jpg', N'Pera Mitić                                        ')
INSERT [dbo].[Traveler] ([UserId], [IdentityId], [Active], [ImgUrl], [FullName]) VALUES (1002, N'7350dbe4-ccbc-4a3f-b6fd-fadca29b6cd3', 1, N'/Assets/Images/Users/per_miti.jpg', N'Pera Mitić')
INSERT [dbo].[Traveler] ([UserId], [IdentityId], [Active], [ImgUrl], [FullName]) VALUES (1003, N'1216db12-5a87-4cf3-bd3d-9c97667516c8', 1, NULL, N'Admin')
SET IDENTITY_INSERT [dbo].[Traveler] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20190620-151752]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20190620-151752] ON [dbo].[Comment]
(
	[CommentId] ASC,
	[ParentId] ASC,
	[Traveler] ASC
)
INCLUDE ( 	[Active],
	[TableName],
	[Date]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_CategoryId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Category_CategoryId] ON [dbo].[LifeInCItyViewModels]
(
	[Category_CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_City_CityId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_City_CityId] ON [dbo].[LifeInCItyViewModels]
(
	[City_CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Line_LineId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_Line_LineId] ON [dbo].[LifeInCItyViewModels]
(
	[Line_LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_POI_PoiId]    Script Date: 7/4/2019 3:04:50 PM ******/
CREATE NONCLUSTERED INDEX [IX_POI_PoiId] ON [dbo].[LifeInCItyViewModels]
(
	[POI_PoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Module] FOREIGN KEY([Module])
REFERENCES [dbo].[Module] ([ModuleId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Module]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Traveler] FOREIGN KEY([Traveler])
REFERENCES [dbo].[Traveler] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Traveler]
GO
ALTER TABLE [dbo].[LifeInCItyViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.Category_Category_CategoryId] FOREIGN KEY([Category_CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[LifeInCItyViewModels] CHECK CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.Category_Category_CategoryId]
GO
ALTER TABLE [dbo].[LifeInCItyViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.City_City_CityId] FOREIGN KEY([City_CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[LifeInCItyViewModels] CHECK CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.City_City_CityId]
GO
ALTER TABLE [dbo].[LifeInCItyViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.Line_Line_LineId] FOREIGN KEY([Line_LineId])
REFERENCES [dbo].[Line] ([LineId])
GO
ALTER TABLE [dbo].[LifeInCItyViewModels] CHECK CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.Line_Line_LineId]
GO
ALTER TABLE [dbo].[LifeInCItyViewModels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.POI_POI_PoiId] FOREIGN KEY([POI_PoiId])
REFERENCES [dbo].[POI] ([PoiId])
GO
ALTER TABLE [dbo].[LifeInCItyViewModels] CHECK CONSTRAINT [FK_dbo.LifeInCItyViewModels_dbo.POI_POI_PoiId]
GO
ALTER TABLE [dbo].[Line]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Line_dbo.POI_PoiId] FOREIGN KEY([PoiId])
REFERENCES [dbo].[POI] ([PoiId])
GO
ALTER TABLE [dbo].[Line] CHECK CONSTRAINT [FK_dbo.Line_dbo.POI_PoiId]
GO
ALTER TABLE [dbo].[Line]  WITH CHECK ADD  CONSTRAINT [FK_Line_City] FOREIGN KEY([SourceCity])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Line] CHECK CONSTRAINT [FK_Line_City]
GO
ALTER TABLE [dbo].[Line]  WITH CHECK ADD  CONSTRAINT [FK_Line_City1] FOREIGN KEY([DestCity])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[Line] CHECK CONSTRAINT [FK_Line_City1]
GO
ALTER TABLE [dbo].[Line]  WITH CHECK ADD  CONSTRAINT [FK_Line_POI] FOREIGN KEY([PoiId])
REFERENCES [dbo].[POI] ([PoiId])
GO
ALTER TABLE [dbo].[Line] CHECK CONSTRAINT [FK_Line_POI]
GO
ALTER TABLE [dbo].[POI]  WITH CHECK ADD  CONSTRAINT [FK_POI_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[POI] CHECK CONSTRAINT [FK_POI_Category]
GO
ALTER TABLE [dbo].[POI]  WITH CHECK ADD  CONSTRAINT [FK_POI_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([CityId])
GO
ALTER TABLE [dbo].[POI] CHECK CONSTRAINT [FK_POI_City]
GO
ALTER TABLE [dbo].[Traveler]  WITH NOCHECK ADD FOREIGN KEY([IdentityId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
USE [master]
GO
